.greeting {
    text-decoration: underline;
    color:  rgb(233, 194, 23);
    text-align: center;
}

.container h1, p {
    text-align: center;
    /*background-image: linear-gradient(grey, black, grey);*/
    color: rgb(233, 194, 23);
}